section h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

section{
  background-color: #2a2d35;
  border-radius: 10px;
  box-shadow: 0px 5px 20px #000;
  margin: 20px auto;
  max-width: 800px;
  padding: 20px;
  text-align: center;
}

#infos{
  height: 250px;
  width: 100%;
  display: flex;
  align-items: center;
}

#infos p{
  width : 100%;
  display: flex;
}

.user-cours ul, .user-stats ul{
  list-style: none;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.user-cours li, .user-stats li{
  max-width: 150px;
  max-height: 150px;
  width: 30vw;
  height: 30vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

#infos img{
  height: 100px;
}

#infos2{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}

#infos p{
  flex-direction: column;
  align-items: flex-start;
}

.label{
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 10px;
  padding-left: 10px;
}

.info{
  background-color: #1e1e1e;
  height: 40px;
  width: 100%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  box-sizing: border-box;
  margin-bottom: 10px;
}


.user-cours a, .user-stats p {
  background-color: #1e1e1e;
  border-radius: 10px;
  color: #fff;
  text-decoration: none;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-cours a:hover {
  box-shadow: 0px 5px 20px #000;
  cursor: pointer;
}

.user-stats p{
  flex-direction: column;
  justify-content: space-around;
}

.note{
  font-size: 4em;
  font-weight: bold;
}